body {
    margin:0;
}


.home {
    width: 100%;
    height: 100%;
    background: lightpink;

}

.headline {
    font-size: 5rem;
    font-family: sans-serif;
    color: limegreen;
}

.nav-links {
    color: black;
    font-size: 50px;
    text-decoration: none;
}