@font-face {
    font-family: Fjalla;
    src: url("FjallaOne-Regular.ttf") format("opentype");
}

body {
    font-family: Fjalla, helvetica, arial, sans-serif;
    background-color: #eae7dc;
  
}

.welcome {
    background-color: #e85a4f;
    color:#e98074;
    font-size: 1900%;
    width: 100%;
    height:40%;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.welcome:hover {
font-size: 2500%;
}

.To{
    background-color: #e98074;
    color:#d8c3a5;
    font-size: 2000%;
    width: 100%;
    height:40%;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;  
}

.To:hover {
    font-size: 2500%;
    }

.stuff{
    background-color:#d8c3a5;
    color: #eae7dc;
    font-size: 2200%;
    width: 100%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;  
}

.stuff:hover {
    font-size: 2500%;
    }


   

.lab {
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  max-width: 100%;
  background-color: #eae7dc;
  
}

.section1{
    display: flex;
    border: solid white; 
    border-width: 0.1rem; 
    border-radius: 1.5rem;
    border-color:#e85a4f;  
    color:#e85a4f;
    font-size: 700%;
    width: 20%;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    max-width: 100%;
    float:left;
  

}

.projects {
    background-color: #e98074;;
    width: 80%;
}



ul{
    list-style-type:none;
}


.home {
    background:#eae7dc;

}

.nav-links {
    color: #eae7dc;
    font-size: 80px;
    text-decoration: none;
}

a:hover {
    border: solid #eae7dc;
    border-radius: 20px;
    padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }


  .section2{
    display: flex;
    border-width: 0.1rem; 
    border-radius: 1.5rem;
    border:solid 1px #e85a4f;  
    color:#e85a4f;
    font-size: 700%;
    width: 20%;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    max-width: 100%;
    float:left;
   

}

.projects2 {
    background-color: #e85a4f;
    width: 80%;
}



